/**
 * @file
 * Styles for Drupal's Aloha Editor UI.
 */




/** Aloha Editor core. */

.aloha-surface,
.aloha-surface .ui-widget,
.aloha.ui-tooltip {
  font-family: 'Droid sans', 'Lucida Grande', sans-serif;
}

.aloha-editable {
  outline: none;
}

.aloha-textarea {
  overflow: hidden;
  border: 1px solid #AAA;
  padding: 2px;
  overflow: auto;
}

.aloha-surface .aloha-toolbar :focus {
  outline: none;
}

.aloha-surface .aloha-toolbar * {
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.aloha-surface .aloha-toolbar .ui-autocomplete-input {
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}




/** General UI */

.aloha-drupal-ui-state-hidden {
  opacity: 0;
  display: none !important;
}

.aloha-drupal-ui-state-disabled {
  opacity: 0.3;
}

.aloha-drupal-ui-state-default {
  opacity: 1;
}

.aloha-toolbar-handles,
.aloha-drupal-ui-tab-handle,
.aloha-drupal-ui-tab-handle *,
.aloha-toolbar-panels button {
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ie-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}

.aloha.ui-tooltip {
  font-size: 10px;
  line-height: 1.2em;
  padding: 4px 6px;
  border: 1px solid #777;
  z-index: 999999;
  -webkit-border-radius: 4px;
  -khtml-border-radius:  4px;
  -moz-border-radius:    4px;
  border-radius:         4px;
  position:absolute;
  -o-box-shadow:      0 0 5px #AAA;
  -moz-box-shadow:    0 0 5px #AAA;
  -webkit-box-shadow: 0 0 5px #AAA;
  box-shadow:         0 0 5px #AAA;
  background: #FFF;
  color: #222;
}




/** Toolbar tabs **/
.aloha-surface .aloha-toolbar-handles {
  display: block;
  height: 35px;
}
.aloha-surface .aloha-toolbar-handles ul {
  display: inline-block;
  float: left; /* LTR */
  border-left: 1px solid #AAA;
  margin: 0;
  padding: 0;
}
.aloha-surface .aloha-toolbar-handles ul li {
  list-style: none;
  float: left; /* LTR */
}
.aloha-surface .aloha-toolbar-handles ul li a {
  display: block;
  color: #999;
  min-width: 40px;
  text-align: center;
  padding: 7px 12px;
  border-radius: 0;
  border: 1px solid #AAA;
  border-left: 0;
  border-bottom: 0;
  text-decoration: none;
  margin: 0;
}
.aloha-surface .aloha-toolbar-handles ul li.aloha-drupal-ui-state-active a {
  background-color: #eee;
  color: black;
}




/** Toolbar panels **/
.aloha-surface .aloha-toolbar-panels {
  display: block;
  height: auto;
  border: 1px solid #AAA;
  border-bottom: none; /* The border of the AE textarea will already be there. */
  color: #878787;
  font-size: 15px;
}

.aloha-surface .aloha-toolbar-panels:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: " ";
}

.aloha-surface .aloha-toolbar-panels button .ui-button-text {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.aloha-surface .aloha-toolbar-panels button .spark-icon {
  font-size: 15px;
}

.aloha-surface .aloha-toolbar-panels button {
  border: none;
  background: inherit;
  color: inherit;
  width: 31px;
  height: 30px;
  padding: 5px 0 4px;
  display: block;
  float: left; /* LTR */
  border-right: 1px solid #AAA; /* LTR */
  text-align: center;
}

.aloha-surface .aloha-toolbar-panels,
.aloha-surface .aloha-toolbar-panels button.ui-state-default {
  background: -moz-linear-gradient(rgb(254,254,254) 0%,rgb(204,204,204) 100%);
  background: -webkit-gradient(linear,color-stop(0, rgb(254,254,254)),color-stop(1, rgb(204,204,204)));
  background: -webkit-linear-gradient(rgb(254,254,254) 0%,rgb(204,204,204) 100%);
  background: -o-linear-gradient(rgb(254,254,254) 0%,rgb(204,204,204) 100%);
  background: linear-gradient(rgb(254,254,254) 0%,rgb(204,204,204) 100%);
}

.aloha-surface .aloha-toolbar-panels button.ui-state-hover {
  color: #444;
  background: -moz-linear-gradient(rgb(255,255,255) 0%,#EEE 100%);
  background: -webkit-gradient(linear,color-stop(0, rgb(255,255,255)),color-stop(1, #EEE));
  background: -webkit-linear-gradient(rgb(255,255,255) 0%,#EEE 100%);
  background: -o-linear-gradient(rgb(255,255,255) 0%,#EEE 100%);
  background: linear-gradient(rgb(255,255,255) 0%,#EEE 100%);
}
.aloha-surface .aloha-toolbar-panels button.aloha-button-active {
  color: #555;
  background: -moz-linear-gradient(rgb(170,170,170) 0%,rgb(238,238,238) 100%);
  background: -webkit-gradient(linear,color-stop(0, rgb(170,170,170)),color-stop(1, rgb(238,238,238)));
  background: -webkit-linear-gradient(rgb(170,170,170) 0%,rgb(238,238,238) 100%);
  background: -o-linear-gradient(rgb(255,255,255) 0%,rgb(238,238,238) 100%);
  background: linear-gradient(rgb(170,170,170) 0%,rgb(238,238,238) 100%);
}
.aloha-surface .aloha-toolbar-panels button.ui-state-active {
  color: #333;
  background: -moz-linear-gradient(rgb(136,136,136) 0%,rgb(204,204,204) 100%);
  background: -webkit-gradient(linear,color-stop(0, rgb(136,136,136)),color-stop(1, rgb(204,204,204)));
  background: -webkit-linear-gradient(rgb(136,136,136) 0%,rgb(204,204,204) 100%);
  background: -o-linear-gradient(rgb(255,255,255) 0%,rgb(204,204,204) 100%);
  background: linear-gradient(rgb(136,136,136) 0%,rgb(204,204,204) 100%);
}

.aloha-surface .aloha-toolbar-panels .ui-autocomplete-input {
  font-size: .85em;
  font-size: 2px 4px;
  padding: 2px 4px;
  margin: 3px 4px 1px;
  border: 1px solid #AAA;
  height: 20px;
}




/* multisplit as dropdown (p/h1/h2/... dropdown) */
.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton {
  position: relative;
  width: 40px;
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton .ui-button-icon-primary,
.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton .ui-button-icon-secondary {
  float: left; /* LTR */
  padding: 0 1px;
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton .ui-button-icon-primary {
  padding: 0 4px;
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton .ui-icon-triangle-1-s:before {
  font-family: 'spark_icons';
  content: "\e024";
  speak: none;
  font-size: 8px;
  vertical-align: 30%;
  padding: 0 1px;
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton ul {
  background: #FFF;
  position: absolute;
  top: 31px;
  width: 130px;
  box-shadow: 0 0 8px #999;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 4px;
  -khtml-border-radius:  4px;
  -moz-border-radius:    4px;
  border-radius:         4px;
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton ul li {
  list-style: none;
  text-align: left; /* LTR */
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton ul li a {
  display: block;
  padding: 4px 8px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  width: 115px;
  height: auto;
  min-width: 0;
  margin: 0;
  border: 0;
  -webkit-border-radius: 4px;
  -khtml-border-radius:  4px;
  -moz-border-radius:    4px;
  border-radius:         4px;
}

.aloha-surface .aloha-toolbar-panels button.aloha-ui-menubutton ul li a.ui-state-focus {
  background-color: #4A92E4;
  color: white;
}


/* auto complete */
.aloha .ui-autocomplete.ui-widget-content {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.25);
  padding: 3px;
  -moz-border-radius:    0;
  -khtml-border-radius:  0;
  -webkit-border-radius: 0;
  border-radius:         0;
  list-style: none;
  margin: 0;
  display: block;
  outline: none;
  max-width: 322px;
}

.aloha .ui-autocomplete .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 100%;
}

.aloha .ui-autocomplete .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  zoom: 1;
  font-weight: normal;
  text-align: left;
  font-size: 12px;
  -moz-border-radius:    0;
  -khtml-border-radius:  0;
  -webkit-border-radius: 0;
  border-radius:         0;
  border-color: transparent;
  color: #222;
}

.aloha .ui-autocomplete .ui-menu-item a.ui-state-focus {
  background: #3B73D7;
  color: #FFF;
}




/**
 * Custom UI for common/block.
 */

/* @todo: Temporarily disable Aloha Blocks' handles, because the CaptionedImage
          plug-in can't deal yet with dragging images into an alignment. */
.aloha-block-handle {
  background: none;
  border: none;
}

.aloha-editable-active .aloha-block,
.aloha-block.aloha-block-highlighted {
  box-shadow: none;
}

.aloha-block.aloha-block-active,
.aloha-block.aloha-block-active:hover,
.aloha-image-box-active {
  box-shadow: 0px 0px 1px 1px #0199FF;
}
